html, body, #app {
	font-family: 'Ubuntu', sans-serif;
	color: @color_dark;
	height: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: @color_primary;
}
.Container {
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.Content {
	min-height: 90%;
	box-sizing: border-box;
}

.fas, .fab {
	padding: 0 5px;
}
