.CTAButton {
	border: 1px solid @color-white;
	display: block;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	overflow: hidden;
	margin: auto;

	&:hover, &:focus {
		color: @color-dark;
		background-color: @color-white;
		transition: all .4s;
	}
}