.CTAButton {
	&--Link {
		border: 1px solid @color_pink_primary;
		display: block;
		margin: 0 auto;
		padding: 10px 0;
		text-align: center;
		width: 180px;
		text-transform: uppercase;

		&:hover, &:focus {
			color: white;
			background-color: @color_pink_primary;
		}
	}
}