.Contact {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: @color-theme-orange;
    &-Content {
        display: grid;
        &-Social {
            &-Link {
                margin-right: 5px;
            }
        }
    }
}