.contact {
	.email_wrapper {
		.email {
			display: block;
			width: 210px;
			text-align: center;
			margin: 0 auto;
		}
	}
	.social_link {
		padding: 5px;
		display: inline-block;
		&_wrapper {
			width: 105px;
			display: block;
			margin: 0 auto;
		}
	}
}