.Experience {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: @color-theme-yellow;
    transition: background-color @hover-transition-duration;
    &:hover, &:focus {
        background-color: darken(@color-theme-yellow, @darken-background-color);
        transition: background-color @hover-transition-duration;
    }
    &-Content {
        display: flex;
        flex-direction: column;
        &-Section {
            &-Title {
                font-size: 115%;
            }
            &-Subtitle {
                font-size: 85%;
            }
        }
    }
}