.Home {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: @color-white;
    color: @color-dark;
    margin: 3px;
    border-color: @color-dark;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &-Logo {
        flex-grow: 1;
        max-height: 30%;
        max-width: 30%;
    }
    &-Content {
        flex-grow: 1;
        &-Link {
            color: @color-dark;
        }
    }
}