.Project {
    background: @color-white;
    display: block;
    margin: 0 2px;
    width: calc(100% / 3);
    color: @color-dark;
    text-decoration: none;
    &-Tag {
        color: @color-theme-orange;
        text-decoration: underline;
    }
    &-Name {
    
    }
    &-Tech {
        
    }
}