@color-theme-pink: #E23051;
@color-theme-blue: #6DAFBA;
@color-theme-orange: #FE6525;
@color-theme-yellow: #FDAA27;
@color-dark: #1B272D;
@color-white: #FFFFFF;

@darken-background-color: 10%; 
@hover-transition-duration: .6s;

@screen-tablet-min: 768px;
@screen_sm: 992px;
@screen-desktop-min: 1024px;
@screen_lg: 1366px;

@primary-font: 'Lato', sans-serif;
@secondary-font: 'Abel', sans-serif;